/* color palette from <https://github.com/vuejs/theme> */
:root {

    --first-color:#3D5A80;
    --second-color:#98C1D9;
    --third-color: #293241;
    --highlight-color:#EE6C4D;
    --background-color:#E0FBFC;
  
}
