.food-card {
  display: block;
  min-width: 250px;
  max-width: 250px;
  min-height: 300px;
  max-height: 300px;
  padding: 0px;

  & .food-card-content {
    padding: 6px;
  }

  & .food-card-image {
    height: 200px;
    background-color: white;
  }

  & p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  & .food-card-name {
    float: left;
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  & .food-card-description {
    float: left;
  }

  & .food-card-price {
    float: right;
    text-align: right;
    width: 20%;
  }
}
