.food-card {
  display: block;
  width: 250px;
  height: 250px;
  & .food-card-image {
    height: 70%;
  }

  & p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  & .food-card-name {
    float: left;
    width: 80%;
  }

  & .food-card-description {
    float: left;
  }

  & .food-card-price {
    float: right;
    width: 20%;
  }
}
