div.frame {
    box-shadow: 0px 0px 2px 5px #212529;
    height: 50vh;
    width: 50vw;
    margin: auto;
}

div.frame-no-border {
    height: 50vh;
    width: 25vw;
    margin: auto;
}

div.page {
    height: calc(100vh - 75px);
    overflow-x: hidden;
}