@import 'navbar.scss';
@import 'rightpanel.scss';
@import 'userview.scss';
@import 'restaurantview.scss';
@import 'signmodals.scss';
@import 'foodlist.scss';
@import 'foodcard.scss';
@import 'filterbar.scss';
@import 'noapiresponse.scss';
@import 'foodmodal.scss';

:root {
  --first-color: #3d5a80;
  --secondary-color: #98c1d9;
  --third-color: #e0fbfc;
  --accent-color: #ee6c4d;
  --fourth-color: #293241;
  --filterbar-height: 60px;
  --navbar-height: 80px;
  --logo-size: 110px;
}

body {
  background-color: white;
  color: var(--fourth-color);
  margin: 0;
}

.main-frame {
  margin: calc(var(--logo-size) + var(--filterbar-height)) 2% 0 2%;
}
