@import 'navbar.scss';
@import 'rightpanel.scss';
@import 'home.scss';
@import 'signmodals.scss';
@import 'restaurant.scss';
@import 'foodlist.scss';
@import 'foodcard.scss';


:root {
  --first-color: #3d5a80;
  --secondary-color: #98c1d9;
  --third-color: #e0fbfc;
  --accent-color: #ee6c4d;
  --fourth-color: #293241;
}

.main-frame {
  margin: 80px 2% 2% 2%;
}